<!DOCTYPE html>
<html>
 <head>
<link rel="stylesheet">
<title>Bookers</title>
</head>

<body>
<h2>Editing Book</h2>
<% if @book.errors.any? %>
 error
<% @book.errors.full_messages.each do |message| %>
   <%= message %>
  <% end %>
<% end %>
<%= form_with model:@book, local: true do |f| %>
 <p>Title</p>
 <%= f.text_field :title %>
 <p>Body</p>
 <%= f.text_area :body %>
 <br>
 <%= f.submit 'Update Book' %>
<% end %>
<%= link_to "Show", book_path %>
  |
<%= link_to "Back", books_path %>
</body>
</html>