<!DOCTYPE html>
<html>
 <head>
<link rel="stylesheet">
<title>Bookers</title>
</head>

<body>
 <p id="notice"></p>
  <% flash.each do |message_type, message| %></td>
 <%= message %>
 <% end %>
 <p>
   <%= form_with model:@book, local:true do |f| %>
     <strong>Title:</strong>
     <%=@book.title %>
     <br>
     <strong>Body:</strong>
     <%=@book.body %>
 </p>
<%= link_to "Edit", edit_book_path %>
  |
<%= link_to "Back", books_path %>
<% end %>


</body>
</html>